{{template "base" .}}

{{define "content"}}
<div class ="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h1 class="mt-5">Search for Availability</h1>
            <form action="/search-availability" method="post" novalidate class="needs-validation">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="row">
                    <div class="col text-center">
                        <div class="row" id="reservation-dates">
                            <div class="col text-center">
                                <input required class="form-control" type="text" name="Start Date" placeholder="Check-in">'
                            </div>
                            <div  class="col text-center">
                                <input required class="form-control"type="text" name="End Date" placeholder="Check-out">
                            </div>  
                        </div>
                    </div>
                </div>
                <hr>
                <button type class="btn btn-dark">Search Availability</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <p>
                <button id="colorButton" class="btn btn-outline-secondary">Select Date Range</button>
            </p>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    const elem = document.getElementById('reservation-dates');
    const rangePicker = new DateRangePicker(elem, {
        format: "yyyy-mm-dd",
    });
</script>
{{end}}